<%- include ('header')%>
<style>
    .carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>  

  <!-- Page Content -->

  
   <section class="home-slider position-relative mb-30">
    <div class="container">
      <div class="home-slide-cover mt-30">
        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
          <% for (let i = 0; i < banner.length; i++) { %>

          <div class="single-hero-slider single-animation-wrap">
            <div class="container">
              <div class="row justify-content-center slider-animated-1">
                <div
                  class="col-lg-12 col-md-12 slider-image"
                  style="background-image: url('<%= banner[i].image %>'); max-width: 100%; background-size: cover;"
                >
                  <div class="hero-slider-content-2 text-center align-items-center">
                    <br /><br /><br />

                    <h2 class="animated fw-900" style="color: darkgray; font-size: 2rem;">
                      ---
                   </h2>
                   <h2 class="animated fw-900" style="color: darkgray; font-size: 2rem;">
                    ---
                 </h2>
                    <br /><br /><br /><br /><br /><br />

                    <p class="animated" style="margin-left: 1.5rem; color: white; font-size: 1rem;">
                     
                   </p>
                    <br /><br /><br /><br /><br /><br />

                    <a
                      class="animated btn btn-brush btn-brush-3"
                      href="/CatogaryFilter?catogary=<%= banner[i].link %>"
                      tabindex="0"
                      >Shop Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <br /><br /><br /><br />

        <div class="slider-arrow hero-slider-1-arrow"></div>
      </div>
    </div>
  </section>
<!-------------------  baner session- end---------------------- -->

<section class="py-5">
    <div class="container">
      <h1 class="fw-light">✨ Elevate Your Senses with Harwa Perfumes ✨</h1><br>
      <p class="lead">  &nbsp;From Timeless Classics to Exclusive Niche Scents - Your Signature Fragrance Awaits!
     <a href="https://unsplash.com">Unsplash</a>!</p>
    </div>
  </section>

  
        <section class="product-tabs section-padding position-relative wow fadeIn animated">
            <div class="bg-square"></div>
            <div class="container">
                <div class="tab-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                        </li>

                      
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two" type="button" role="tab" aria-controls="tab-two" aria-selected="false"></button>
                        </li>
                  
                    </ul>
                    <a href="/shop" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a>
                </div>
                <!--End nav-tabs-->
                <div class="tab-content wow fadeIn animated" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                               
                             <div class="row product-grid-4">
                                <% products.slice(0, 8).forEach(product => { %>
                                    <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                        <div class="product-cart-wrap mb-30">
                                            <div class="product-img-action-wrap">
                                               
                                                
                                                <div class="product-img product-img-zoom" style="height: 16rem;">
                                                    <a href="/productdetails?id=<%= product._id %>">
                                                        <% if (product.quantity > 0) { %>
                                                            <img class="default-img" style="width: 100%; height: 280px; object-fit: cover;" src="<%= product.coverimage %>" alt="">
                                                        <% } else { %>
                                                            <div style="position: relative; height: 300px; display: flex; justify-content: center; align-items:center;">
                                                                <div style="z-index: 50000; width: 100%; position: absolute; color: rgb(255, 255, 255); padding-top: 15px;  height: 50px; background-color: rgba(39, 29, 29, 0.344);
                                                                    font-size: 17px; font-weight: 600; text-align: center;">Out Of Stock</div>
                                                                <img class="default-img" style="width: 250px; height: 300px; filter: grayscale(100%);" src="<%= product.coverimage %>" alt="">
                                                            </div>
                                                        <% } %>
                                                        <img class="hover-img" style=" height: 300px; object-fit: cover;" src="<%= product.coverimage %>" alt="">
                                                    </a>
                                                </div>
                                                


                                                <div class="product-action-1">
                                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                                    
                                                    <% if (product.quantity > 0) { %>
                                                        <a
                                                      aria-label="Add To Wishlist"
                                                      class="action-btn hover-up"
                                                      onclick="wishList('<%= product._id %>')"
                                                      ><i class="fi-rs-heart"></i
                                                    ></a>
                                                    <% } %>



                                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    <span class="hot">Hot</span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    <a href=""><%=product.category%></a>
                                                </div>
                                                <h2><a href="/productdetails/?id=<%= product._id %>"><%=product.name%></a></h2>
                                                <div class="rating-result" title="90%">
                                                    <span>
                                                        <span>90%</span>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span><%=product.offerPrice%> </span>
                                                    <span class="old-price"><%=product.price%></span>
                                                </div>
                                                <div class="product-action-1 show">
                                          
                                                    <% if (product.quantity > 0) { %>
                                                        <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= product.id %>',event)" href=""><i class="fi-rs-shopping-bag-add"></i></a>
                                                       
                                                            
                                                    <% } %>
                                                    
                                       </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>

                    </div>
                  
                
          


                </div>
                <!--End tab-content-->
            </div>
        </section>
        
        <div>

        </div>
        
    </main>



    <script src="user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="user/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="user/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="user/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="user/assets/js/plugins/slick.js"></script>
    <script src="user/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="user/assets/js/plugins/wow.js"></script>
    <script src="user/assets/js/plugins/jquery-ui.js"></script>
    <script src="user/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="user/assets/js/plugins/magnific-popup.js"></script>
    <script src="user/assets/js/plugins/select2.min.js"></script>
    <script src="user/assets/js/plugins/waypoints.js"></script>
    <script src="user/assets/js/plugins/counterup.js"></script>
    <script src="user/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="user/assets/js/plugins/images-loaded.js"></script>
    <script src="user/assets/js/plugins/isotope.js"></script>
    <script src="user/assets/js/plugins/scrollup.js"></script>
    <script src="user/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="user/assets/js/plugins/jquery.theia.sticky.js"></script>
    
    <!-- Template  JS -->
    <script src="./user/assets/js/main.js?v=3.4"></script>
    <script src="/user/assets/js/userRegistration.js"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
         
         function addToCart(id) {
    $.ajax({
        url: `/addToCart?id=${id}`,
        method: "get",
        success: (response) => {
            if (response.status) {
                
                Swal.fire({
                    title: 'ADD TO CART',
                    text: 'Product Added to cart',
                    icon: 'success',
                    timer: 1000,
                    showConfirmButton: false,
                });
            } else {
                alert('Error: ' + response.message);
            }
        },
        error: (error) => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        }
    });
}

     </script>

<script>
    function wishList(id) {
      $.ajax({
        url: `/addToList?id=${id}`,
        method: "get",
        success: (response) => {
          if (response.status) {
            Swal.fire({
              title: "ADDED TO WISHLIST",
              text: "You seleted a Product to the wisslist",
              icon: "success",
              timer: 3000,
            });
          } else {
            Swal.fire({
              title: "ALREADY SELECTED!",
              text: "You already selected",
              icon: "error",
              timer: 3000,
            });
          }
        },
      });
    }
  </script>

<%- include ('footer')  %>