       
       
<%- include('header') %>
<br>
    <br>
    <br>
<div class="row">
    <div class="col-lg-1">
        
    </div>
    
    <div class=" col-lg-10">
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: 3453012</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%= order.createdAt.toLocaleString() %></b>
                            </span> <br>
                            <small class="text-muted">Order ID: 3453012</small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <a class="btn btn-secondary" href="/invoice?id=<%= order._id%>">Invoice</a>
                        </div>
                        
                    </div>
                </header> 
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                    <%= order.user.name%>  <br> <%= order.user.email%>  <br>  <%= order.user.mobile%> 
                                    </p>
                                    <!-- {/* <a href="/api/user/profile">View profile</a> */} -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                    Shipping: Fargo express <br> Pay method: <%= order.paymentMethod  %><br> Status:<%= order.status  %>

                                    </p>
                                    <a href="#">Download info</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                    <%= order.user.address[0].areastreet  %><br><%= order.user.address[0].state  %> <br> <%= order.user.address[0].pincode  %>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                        <div class="card-body bg-light">
                                <div class="mb-4">
                                    <h6>Ordered Products:</h6>
                                    <ul class="list-group">
                                        <% order.products.forEach(product => { %>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <img src="<%= product.product.coverimage %>" alt="<%= product.product.name %>" class="mr-3" style="max-width: 50px; max-height: 50px;">
                                                    <div>
                                                        <%= product.product.name %> - Quantity: <%= product.quantity %> - Price: ₹<%= product.product.offerPrice %>
                                                    </div>
                                                </div>
                                                <!-- Button to cancel the item -->
                                                <% if (order.status !== "Cancelled" && order.status !== "Delivered" && order.products.length > 1) { %>
                                                    <button type="button" class="btn btn-danger btn-sm" onclick="cancelItem('<%= order._id %>', '<%= product._id %>')">Cancel Item</button>
                                                <% } %>
                                                
                                            </li>
                                        <% }); %>
                                    </ul>
                                    <p class="mt-2">Order Date: <%= order.createdAt.toDateString() %></p>
                                    <!-- Button to cancel the entire order -->
                                    <% if (order.status !== "Cancelled" && order.status !== "Delivered") { %>
                
                
                                        <button type="button" class="btn btn-danger" onclick="cancelOrder('<%= order._id %>')">Cancel Order</button>
                                    <% } %>
                                </div>
                            </div>






                            <a class="btn btn-primary" href="">View Orders</a>
                            <a class="btn btn-primary" href="/home">Continue Shoping</a>
                        </div> 
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            
                        </div> <!-- col// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </div>
</div>
<br>
<br>
<br>
<br>
    <br>
    <br>
    <%- include('footer') %>
       <script>
function hi(){
    alert(quantities[0])
}
        
       </script>